<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    
    <link rel="stylesheet" href="{% static 'main.css' %}">
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>building.company</title>
</head>
<body>
    <head>
        <div class="iner_box">
            <div class="background_head">
            
            </div>
            <div class="logo_triangle">
                <div class="logo_head"></div>
            </div>
            <div class="nav_box_back"></div>
            <div class="nav_box">
                <div class="menu_el"><a href="">home</a></div>
                <div class="menu_el"><a href="">about</a></div>
                <div class="menu_el"><a href="">contacts</a></div>
                <div class="nav_number">
                    <div id="number"><a href="">+7 (123) 456-78-90</a></div>
                </div>
            </div>
            <div class="man"></div>



            <div class="iner_box">
                
            </div>
        </div>
    </head>
    
    <div class="main">1111</div>
    
    <footer></footer>
</body>
</html>