<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    
    <link rel="stylesheet" href="{% static 'main.css' %}">
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>building.company</title>
</head>
<body>
    <div class="iner_box">
        <head>
            
                <div class="background_head">
                
                </div>
                <div class="logo_triangle">
                    <div class="logo_head"></div>
                </div>
                <div class="nav_box_back"></div>
                <div class="nav_box">
                    <div class="menu_el"><a href="">home</a></div>
                    <div class="menu_el"><a href="">about</a></div>
                    <div class="menu_el"><a href="">contacts</a></div>
                    <div class="nav_number">
                        <div id="number"><a href="">+7 (123) 456-78-90</a></div>
                    </div>
                </div>
                <div class="man"></div>



                
            
        </head>
    <div class="content_box1">
        <button class="arrow_box" style="left: -150px;">
            
                <svg class="strelka-left-2" viewBox="0 0 9 14">
                    <path class="svg-strelka" d="M6.660,8.922 L6.660,8.922 L2.350,13.408 L0.503,11.486 L4.813,7.000 L0.503,2.515 L2.350,0.592 L8.507,7.000 L6.660,8.922 Z" ></path>
                </svg>
            
        </button>
        <button class="arrow_box" style="left: calc(100% + 50px);">
            
                <svg class="strelka-right-2" viewBox="0 0 9 14">
                    <path class="svg-strelka" d="M6.660,8.922 L6.660,8.922 L2.350,13.408 L0.503,11.486 L4.813,7.000 L0.503,2.515 L2.350,0.592 L8.507,7.000 L6.660,8.922 Z" ></path>
                </svg>
            
        </button>
        <div class="img_slids" style="margin-left: 20px;">
            <img class="img100" src="https://m.netall.ru/upload/iblock/180/1804b5d7b91744cb626623072d94e823.jpg" alt="">
        </div>
        <div class="img_slids">
            <img class="img100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSE8gVMxRVwvxd2RjmawlWSHuuaXjXO0ExMaA&usqp=CAU" alt="">
        </div>
        <div class="img_slids" style="margin-right: 20px;">
            <img class="img100" src="https://na-dache.pro/uploads/posts/2021-11/1636350975_1-na-dache-pro-p-bolshoi-zagorodnii-dom-foto-1.jpg"  alt="">
        </div>
    </div>
    <div class="header1">OUR ADVANTAGES</div>
    <div class="content_box2">
        <div class="advantages" style="margin-left: 0px;"></div>
        <div class="advantages"></div>
        <div class="advantages" style="margin-right: 0px;"></div>
        <div class="advantages" style="margin-left: 0px;"></div>
        <div class="advantages"></div>
        <div class="advantages"style="margin-right: 0px;"></div>



    </div>
    </div>
<div class="main">1111</div>
    
    <footer></footer>
</body>
</html>